/* CSS BY Shereef Younis */

/* IMPORTED FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */

    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* ROOT VARIABLES */
    :root {
        --primary-bg-color: #484FB7;
        --secondary-bg-color: #ffffff;
        --tertiary-bg-color: #D9526F;
        --quaternary-bg-color: #E9BB57;

        --primary-text-color: #1E1E1E;
        --secondary-text-color: #ffffff;
        --tertiary-text-color: #E9BB57;
        --quaternary-text-color: #484FB7;
    }

/* GLOBAL STYLES (mobile first/small) */

    body {
        max-width: 450px;
        background-color: var(--primary-bg-color);
    }

    header{
        background-color: var(--primary-bg-color);
    }

    nav{
        background-color: var(--quaternary-bg-color);
    }

    main {
        background-color: var(--primary-bg-color);
    }

    footer {
        background-color: var(--primary-bg-color);
    }



    h1, h2 {
        font-family: 'Kavoon';
        color: var(--secondary-text-color);
    }

    p {
        font-family: 'Inter';
    }

    h1 {
        font-size: 3em;
    }

    nav, h2 {
        font-size: 1.5em;
    }

    nav, h2 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
        color: var(--tertiary-text-color);
    }

    h4 {
        font-size: 1.15em;
    }

    #why-choose-us {
        background-color: var(--tertiary-bg-color);
    }

    #take-the-first-step {
        background-color: var(--tertiary-bg-color);
    }