/* CSS BY Shereef Younis */



/* IMPORTED FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');



/* CSS RESET */

    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }



/* ROOT VARIABLES */
    :root {
        --teal-color: #4CA7C0;
        --purple-color: #484FB7;
        --lavender-color: #6B8FE7;
        --yellow-color: #E9BB57;
        --pink-color: #D9526F;
        --dark-gray-color: #1E1E1E;
        --white-color: #ffffff;
    }


    
/* GLOBAL STYLES (mobile first/small) */

    /* Body Section */
    body {
        max-width: 450px;
        margin: 0 auto;
        background-color: var(--lavender-color);
    }

    /* Header Section */
    header {
        text-align: center;
        color: var(--white-color);
        background-color: var(--purple-color);
        padding: 40px;
    }

    /* Navigation Section */
    nav {
        text-align: center;
        color: var(--dark-gray-color);
        background-color: var(--yellow-color);
        padding: 20px;
    }

    nav h2 {
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--dark-gray-color);
    }

    nav ul li {
        margin-top: 10px;
        padding: 15px;
        background-color: var(--white-color); 
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        gap: 30px;
    }

    nav a {
        text-decoration: none;
    }



    /* Our Services Section */
    #our-services {
        background-color: var(--purple-color);
        padding: 15px 5px 5px 5px;
    }

    #our-services h2 {
        color: var(--white-color);
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #our-services h3 {
        margin-left: 10px;
        color: var(--yellow-color);
        font-weight: bold;
    }

    #our-services section {
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        text-align: left;
        background-color: var(--white-color);
    }

    #our-services section img {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    #our-services section h4 {
        color: var(--purple-color);
        font-weight: bold;
        margin-bottom: 10px;
    }

    #our-services section p {
        color: var(--dark-gray-color);
        font-size: 0.9em;
        line-height: 1.4;
    }

    

    /* Why Choose Us Section */
    #why-choose-us {
        background-color: var(--pink-color);
        padding: 15px;
    }

    #why-choose-us h2 {
        color: var(--white-color);
    }

    .reason-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
    }

    .card1 {
        background-color: var(--teal-color);
        color: var(--dark-gray-color);
        padding: 30px;
        border-radius: 10px;
    }

    .card2 {
        background-color: var(--lavender-color);
        color: var(--dark-gray-color);
        padding: 30px;
        border-radius: 10px;
    }

    .card3 {
        background-color: var(--yellow-color);
        color: var(--dark-gray-color);
        padding: 30px;
        border-radius: 10px;
    }

    .card4 {
        background-color: var(--white-color);
        color: var(--dark-gray-color);
        padding: 30px;
        border-radius: 10px;
    }



    /* Prices Section */
    #prices {
        background-color: var(--purple-color);
        padding: 20px;
    }

    #prices h2{
        padding-bottom: 10px;
        color: var(--white-color);
    }

    #prices h3{
        color: var(--yellow-color);
        font-weight: bold;
    }

    table {
        width: 250px;
        background-color: var(--white-color);
        margin: 10px auto 10px auto;
    }

    table, th, td {
        border: 2px solid var(--yellow-color);
        padding: 8px;
    }

    thead {
        background-color: var(--yellow-color);
        font-weight: bold;
        text-transform: uppercase;
        height: 50px;
    }

    thead th {
        vertical-align: middle;
    }

    tbody {
        height: 120px;
    }

    tbody td {
        vertical-align: middle;
        text-align: left;
     }



    /* Take the First Step Section */
    #take-the-first-step {
        background-color: var(--pink-color);
        padding : 15px 15px 10px 15px;
        text-align: center;
    }

    #take-the-first-step h2 {
        color: var(--white-color);
        text-align: left;
    }

    #take-the-first-step p {
        color: var(--white-color);
        line-height: 1.5;
        font-size: 1em;
        text-align: left;
        margin: 15px 0 10px 0
    }

    #take-the-first-step a {
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        color: var(--dark-gray-color);
        background-color: var(--white-color);
        text-transform: uppercase;
        padding: 20px 120px;
        border-radius: 15px;

        box-shadow: 5px 5px 5px var(--dark-gray-color);
    }
    


    /* Footer */
    footer {
        background-color: var(--purple-color);
        padding: 50px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr; 
        padding: 50px;
        color: var(--white-color);
        font-size: 0.8em;
    }

    footer a{
        color: var(--white-color);
    }



    /* text sizes & more*/
    h1, h2 {
        font-family: 'Kavoon';
    }

    /* other text sizes / classes / id's */
    h3, h4, p, a, nav h2, footer, tbody, thead, .reason-cards{
        font-family: 'Inter';
    }

    h1 {
        font-size: 3em;
    }

    nav h2 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.15em;
    }